section.opportunities
  .opportunities__container.container
    .opportunities__head.head 
      h2 Упростите процесс управления таксопарком благодаря возможностям Avirent CRM
    .opportunities__body 
      