.header {
  &__nav {
    height: 86px;
    border-bottom: 1px solid #F9F9F9;
  }
  &__main {

  }
}

.navpanel {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__logo {
    display: flex;
    align-items: center;
    & > img {
      margin-right: 20px;
    }
    & > p {
      font-size: 12px;
    }
  }
  &__phone {

    &-top {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: var(--fz-h4);

      & > *:first-child {
        margin-right: 10px;
      }
    }

    & > button {
      display: block;
      font-size: 10px;
      text-decoration-line: underline;
      margin-left: 28px;
    }
  }
  &__login{
    .btn:first-child {
      margin-right: 10px;
    }
  }
}