.messengers
  .messengers__item 
    a(href="#" target="_blank", rel="noopener noreferrer")
      img(src="./img/messengers/wa.svg", alt="whatsApp")
  .messengers__item 
    a(href="#" target="_blank", rel="noopener noreferrer")
      img(src="./img/messengers/viber.svg", alt="viber")
  .messengers__item 
    a(href="#" target="_blank", rel="noopener noreferrer")
      img(src="./img/messengers/tg.svg", alt="telegram")