.browser {

  &__content {
    --width: 85%;
    background: url(../img/safari.svg) top / contain no-repeat;
    width: var(--width);
    height: 54vw;
    max-height: 646px;
    border: 0.5px solid #c3c3c3;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1), 0px 20px 50px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    & > img {
      display: none;
      margin-top: 6%;
      object-fit: contain;
      width: 100%;
    }

    & > .active {
      display: block;
    }
  }
}