include ../components/button.pug

.navpanel__container
  a(href='/' class='navpanel__logo')
    img(src="./img/logo.svg", alt="logo")
    p Система автоматизации <br> автопрокатов и таксопарков
  .navpanel__phone
    .navpanel__phone-top
      img(src="./img/icon_tel.svg")
      a(href="tel:+74951184046") +7 (495) 118-40-46 
    button(type="button" data-open-modal_2) Заказать звонок
  .navpanel__login 
    +button('Войти', 's', 'link', 'https://crm.avirent.ru/company/login', 'white', 'flare')
    +button('Попробовать бесплатно', 's', 'link', 'https://crm.avirent.ru/company/register', 'orange', 'flare')
  .navpanel__mobile 
    +button('', 's', 'link', 'https://crm.avirent.ru/company/login', 'orange', 0, './img/enter.svg')
    .navpanel__burger 
      input(type="checkbox" name="burger" id="burger")
      label(for="burger")
        .burger_icon
  .navpanel__menu 
    p Навигация по сайту:
    ul
      li
        a(href="#opportunities" class="navpanel-link") Функционал
      li 
        a(href="#help" class="navpanel-link") Внедрение
      li 
        a(href="#price" class="navpanel-link") Тарифы
      li 
        a(href="#otzovy" class="navpanel-link") Отзывы
    .navpanel__phone
      .navpanel__phone-top
        img(src="./img/icon_tel.svg")
        a(href="tel:+74951184046") +7 (495) 118-40-46 
      button(type="button" data-open-modal_2) Заказать звонок
    +button('Попробовать бесплатно', 's', 'link', 'https://crm.avirent.ru/company/register', 'orange', 'flare')
    +button('Войти', 's', 'link', 'https://crm.avirent.ru/company/login', 'white', 'flare')
