include ../components/input-button.pug

header.header
  .header__container.container
    nav.header__nav.navpanel
      include ./00_navbar.pug
    .header__main
      .header__main-left
        nav
          ul
            li 
              a(href="#opportunities" class="link-nav link-active") Функционал
            li 
              a(href="#help" class="link-nav") Внедрение
            li 
              a(href="#price" class="link-nav") Тарифы
            li 
              a(href="#otzovy" class="link-nav") Отзывы
        h1(data-animate-on-scroll) Получайте максимум прибыли за счёт автоматизации <strong data-multiname="auto">автопарка</strong>
        ul(data-animate-on-scroll)
          li <b>80%</b> снижение риска просрочки аренды автомобиля
          li <b>20%</b> снижение расходов на содержание автопарка
          li <b>50%</b> снижение фонда оплаты труда
        .header__form 
          +input-button('Попробовать бесплатно', 's', 'tel', 'Пользуйтесь <b>бесплатно 14 дней</b>')
      .header__main-right
        img(src="./img/header-infogragh/Obj4.png" srcset="./img/header-infogragh/Obj4@2x.png 2x" class="infogragh-go" id="infogragh_1")
        img(src="./img/header-infogragh/Obj11.png" srcset="./img/header-infogragh/Obj11@2x.png 2x" class="infogragh-go" id="infogragh_2")
        img(src="./img/header-infogragh/Obj.png" srcset="./img/header-infogragh/Obj@2x.png 2x" class="infogragh")
        img(src="./img/header-infogragh/Obj12.png" srcset="./img/header-infogragh/Obj12@2x.png 2x" class="infogragh-go" id="infogragh_3")