.opportunities {
  &__head {
    max-width: 718px;
  }
  &__body {
    position: relative;
    text-align: center;

    & > .btn {
      position: relative;
      margin-top: -10px;
    }
  }
  &__item {
    position: absolute;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #F8F8FA;
    box-sizing: border-box;
    box-shadow: 0px 30px 40px rgba(62, 44, 70, 0.1);
    border-radius: var(--border-radius);
    text-align: left;

    &-menu {
      width: 215px;
      right: 0;
      top: 10%;

      & > ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 12px;

        & > li {
          padding: 10px 15px;
          border-radius: var(--border-radius);

          transition: all .4s ease;

          &:hover {
            background: rgba(142, 114, 246, .1);
            color: var(--color-purple-text);
            cursor: pointer;

            svg {
              transition: all .4s ease;
              color: var(--color-purple-text);
            }
          }

          & > svg {
            color: #eee;
            margin-right: 7px;
          }
        }
      }

      @media(--lg) {
        display: none;
      }
    }
    &-info {
      top: 25%;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 200px;
      font-size: 12px;

      & > h4 {
        font-weight: 500;
        font-size: var(--fz);
        margin-bottom: 20px;
      }
      & > p {
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 20px;
      }
      & > a {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 10px;
        background: #F8F8FA;
        border-radius: 5px;
      }

      @media (--md) {
        display: none;
      }
    }
    &-video {
      bottom: 8%;
      left: 5%;
      padding-left: 65px;
      font-size: 12px;

      & > .video {
        position: absolute;
        left: -26px;
        top: -7px;
      }
      & .play-wrap {
        position: relative;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgba(244, 154, 18, 0.7), rgba(244, 154, 18, 0.7)), url(../img/play_prew.png) no-repeat;
        width: 65px;
        height: 65px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all .4s;
        box-shadow: -23px -23px 71px 0px rgb(238 26 36 / 29%);

        &:before {
          width: 100px;
          height: 100px;
          border: 2px solid #F1B55B;
          position: absolute;
          content: "";
          border-radius: 50%;
          border-left-color: transparent;
          border-right-color: transparent;
          animation-name: rotateRevers;
          animation-iteration-count: infinite;
          animation-duration: 4s;
          animation-timing-function: linear;
        }
        &:after {
          width: 80px;
          height: 80px;
          border: 2px solid #F1B55B;
          position: absolute;
          content: "";
          border-radius: 50%;
          border-top-color: transparent;
          border-bottom-color: transparent;
          animation-name: rotate;
          animation-iteration-count: infinite;
          animation-duration: 4s;
          animation-timing-function: linear;
        }
        & > img {
          width: 30%;
          object-fit: contain;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateRevers {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}