include ../components/safari.pug
include ../components/safari-mob.pug
include ../components/button.pug

- 
  var listInfo = [
    {
    title: 'Клиентская база',
    text_main: 'Все данные по клиенту в одном месте: фотографии, платежи, балансы, договора, штрафы ГИБДД.',
    text_desc: 'Помогает не терять постоянных клиентов. Вы сможете в любой момент времени проверить, какой водитель в какой момент ездил на автомобиле.'
    },
    {
    title: 'Договора',
    text_main: 'Сократите время на выдачу автомобиля. Формирование и печать договора в 2 клика',
    text_desc: 'Больше не нужно вручную заполнять договор. Все документы формируется автоматически из шаблона и моментально отправляются на печать.'
    },
    {
    title: 'Система биллинга',
    text_main: 'Не нужно считать оплаты вручную и звонить водителю с напоминанием.',
    text_desc: 'Робот производит автоматическое списание арендной платы согласно тарифу договора. Текущее состояние счета каждого водителя отображается на главном экране.'
    },
    {
    title: 'Штрафы ГИБДД',
    text_main: 'Вести учет штрафов стало намного проще. Штрафы фиксируются на лицевом счете водителя и',
    text_desc: 'вы больше не потеряете информацию по ним, а водитель всегда будет в курсе появления новых штрафов. Учет штрафов ГИБДД осуществляется напрямую из государственной базы ГИС ГМП.'
    },
    {
    title: 'Техническое обслуживание',
    text_main: 'Вся история обслуживая автомобилей, своевременный контроль износа запчастей в связке со складом.',
    text_desc: 'Предоставьте доступ обслуживающего автосервиса или мастера к карточкам ваших автомобилей, и вы будете в курсе состояния каждой единицы автопарка и ее рентабельности в прокате в режиме онлайн. Контроль ТО автомобилей и своевременный износ запчастей осуществляется в связке со складом запчастей.'
    },
        {
    title: 'Система напоминаний',
    text_main: 'Внести платеж, сделать ТО, оплатить штраф, заменить полис автострахования – обо всех основных вопросах CRM напомнит автоматически.',
    text_desc: 'Своевременное напоминание позволяет снизить риск возникновения долга у водителей. Автоматическая блокировка ограничит доступ к автомобилю пока аренда не будет оплачена.'
    },
    {
    title: 'Складской учет',
    text_main: 'Все запчасти в одном месте, учет установки на автомобили.',
    text_desc: ''
    },
    {
    title: 'Сотрудники',
    text_main: 'Несколько уровней доступа: администратор, менеджер, мастер СТО',
    text_desc: 'Каждый уровень доступа показывает нужную информацию.'
    },
    {
    title: 'Интеграция с Яндекс Такси',
    text_main: 'Списывайте аренду автоматически прямо с таксометра водителя.',
    text_desc: 'Система проверит задолжность водителя за аренду и спишет деньги диспетчерской Яндекс Такси.'
    },
    {
    title: 'Отчёты',
    text_main: 'Вся информация по автомобилям, по водителям, по складу и всему автопарку в 1 месте.',
    text_desc: 'Отчеты по автомобилям и его рентабельности; по водителям, кто больше принес денег в парк, а кто потратил; по складу: остатки и движение запчастей; сводный отчет и основные показатели.'
    },
        {
    title: 'Фотоосмотры',
    text_main: 'Системный контроль состояния автомобилей на всех стадиях работы:',
    text_desc: 'на выдаче, на приеме или в процессе долгосрочной аренды.  Сравнивайте сстояния до и после в интуитивно понятном экране. Все повреждения будут моментально выявляться и фиксироваться за водителем.'
    },
    {
    title: 'Касса',
    text_main: 'Контролируйте учет движения денежных средств в авто прокате.',
    text_desc: 'Сколько денег и менеджера, сколько на счету, сколько в кассе. Все видно и удобно планировать. Отчеты по кассе.'
    }
  ]

mixin check()
  <svg width="11" height="8" viewBox="0 0 11 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.58027 7.63513C4.12151 8.12162 3.37714 8.12162 2.9186 7.63513L0.344068 4.90491C-0.114689 4.41864 -0.114689 3.62926 0.344068 3.14299C0.802605 2.65649 1.54698 2.65649 2.00574 3.14299L3.53965 4.76943C3.65545 4.89199 3.84343 4.89199 3.95944 4.76943L8.11284 0.364874C8.57138 -0.121625 9.31575 -0.121625 9.77451 0.364874C9.99481 0.598497 10.1186 0.915473 10.1186 1.24583C10.1186 1.57619 9.99481 1.89317 9.77451 2.12679L4.58027 7.63513Z"/>
  </svg>

section.opportunities
  .opportunities__container.container
    .opportunities__head.head 
      h2 Упростите процесс управления таксопарком благодаря возможностям Avirent CRM
    .opportunities__body
      .opportunities__nav 
        select(class="my-select" id="oppo_select")
          option(disabled value="") Выберите один из вариантов
          option(value="1" selected) Клиентская база
          option(value="2") Договора
          option(value="3") Система биллинга
          option(value="4") Штрафы ГИБДД
          option(value="5") Тех. обслуживание
          option(value="6") Система напоминаний  
          option(value="7") Складской учёт
          option(value="8") Сотрудники
          option(value="9") Связь с Яндекс Такси
          option(value="10") Фотоосмотры
          option(value="11") Отчёты
          option(value="12") Касса
      .opportunities__item.opportunities__item-menu
        ul
          li.opportunities-desktop-li 
            input(type="radio" id="oppo_desktop_1" name="oppo_desktop" value="1" checked)
            label(for="oppo_desktop_1") 
              +check()
              | Клиентская база
          li.opportunities-desktop-li
            input(type="radio" id="oppo_desktop_2" name="oppo_desktop" value="2" )
            label(for="oppo_desktop_2") 
              +check()
              | Договора
          li.opportunities-desktop-li
            input(type="radio" id="oppo_desktop_3" name="oppo_desktop" value="3" )
            label(for="oppo_desktop_3") 
              +check()
              | Система биллинга
          li.opportunities-desktop-li
            input(type="radio" id="oppo_desktop_4" name="oppo_desktop" value="4" )
            label(for="oppo_desktop_4") 
              +check()
              | Штрафы ГИБДД
          li.opportunities-desktop-li 
            input(type="radio" id="oppo_desktop_5" name="oppo_desktop" value="5" )
            label(for="oppo_desktop_5") 
              +check()
              | Тех. обслуживание
          li.opportunities-desktop-li 
            input(type="radio" id="oppo_desktop_6" name="oppo_desktop" value="6" )
            label(for="oppo_desktop_6") 
              +check()
              | Система напоминаний
          li.opportunities-desktop-li
            input(type="radio" id="oppo_desktop_7" name="oppo_desktop" value="7" )
            label(for="oppo_desktop_7") 
              +check()
              | Складской учёт
          li.opportunities-desktop-li 
            input(type="radio" id="oppo_desktop_8" name="oppo_desktop" value="8" )
            label(for="oppo_desktop_8") 
              +check()
              | Сотрудники
          li.opportunities-desktop-li 
            input(type="radio" id="oppo_desktop_9" name="oppo_desktop" value="9" )
            label(for="oppo_desktop_9") 
              +check()
              | Связь с Яндекс Такси
          li.opportunities-desktop-li 
            input(type="radio" id="oppo_desktop_10" name="oppo_desktop" value="10" )
            label(for="oppo_desktop_10") 
              +check()
              | Фотоосмотры
          li.opportunities-desktop-li 
            input(type="radio" id="oppo_desktop_11" name="oppo_desktop" value="11" )
            label(for="oppo_desktop_11") 
              +check()
              | Отчёты
          li.opportunities-desktop-li 
            input(type="radio" id="oppo_desktop_12" name="oppo_desktop" value="12")
            label(for="oppo_desktop_12") 
              +check()
              | Касса
      .opportunities__item.opportunities__item-info
        h4 Клиентская база
        p Все данные по клиенту в одном месте: фотографии, платежи, балансы, договора, штрафы ГИБДД.
        p.oppo_desc Помогает не терять постоянных клиентов. Вы сможете в любой момент времени проверить, какой водитель в какой момент ездил на автомобиле.
        button(type="button" id="oppo_info_btn") Подробнее
      .opportunities__item.opportunities__item-video
        a(href="https://youtu.be/eMbnD2GGkEg" class="video")
          .play-wrap
            img(class="ls-is-cached lazyloaded", src="./img/play.svg")
        p Функционал Avirent CRM
      +safari('./img/opportunities/desktop/', 'oppo_img_', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)(class="opportunities__img")
      +safari-mob('./img/opportunities/mobile/', 'oppo_img_mob_', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)(class="opportunities__img")
      .browser-mob__i i
        .opportunities__item.opportunities__item-info.mobile
          h4 Клиентская база
          p Все данные по клиенту в одном месте: фотографии, платежи, балансы, договора, штрафы ГИБДД. <br> Помогает не терять постоянных клиентов. Вы сможете в любой момент времени проверить, какой водитель в какой момент ездил на автомобиле.
      +button('Начать бесплатно', 'xl')

      