include ../components/safari.pug
include ../components/safari-mob.pug
include ../components/button.pug

section.interface
  .interface__container.container
    .interface__head.head 
      h2 Интерфейс CRM удобен и интуитивно понятен
    .interface__body
      ul.interface__nav
        li
          input(type="radio" name="interfaces_desktop" id="interfaces_desktop_1" value="1" checked)
          label(for="interfaces_desktop_1") Главная страница
        li 
          input(type="radio" name="interfaces_desktop" id="interfaces_desktop_2"  value="2")
          label(for="interfaces_desktop_2") Отчёты
        li 
          input(type="radio" name="interfaces_desktop" id="interfaces_desktop_3"  value="3") 
          label(for="interfaces_desktop_3") Карточка водителя
        li 
          input(type="radio" name="interfaces_desktop" id="interfaces_desktop_4"  value="4") 
          label(for="interfaces_desktop_4") Касса и платежи
        li 
          input(type="radio" name="interfaces_desktop" id="interfaces_desktop_5"  value="5") 
          label(for="interfaces_desktop_5") Фотоосмотры
      div(class="interface__item interface__item-action" data-animate-on-scroll)
        h4 Весь бизнес на одной странице
        p Прозрачная картина работы. Весь ваш парк, как на ладони
        +button('Попробовать сейчас', 's', 'button')(data-open-modal_1)
      div(class="interface__item interface__item-info" data-animate-on-scroll)
        h4 Без лишних кнопок и действий
        p Максимально быстрая и простая скорость работы
      +safari('./img/interface/desktop/', 'int_img_', '1', 1, 2, 3, 4, 5)(class="interface__img")
      +safari-mob('./img/interface/mobile/', 'int_img_mob_', '1', 1, 2, 3, 4, 5)(class="interface__img")
      .interface__nav-mobile
        select(class="my-select" id="int_select")
          option(disabled value="") Выберите один из вариантов
          option(value="1" selected) Главная страница
          option(value="2") Отчёты
          option(value="3") Карточка водителя
          option(value="4") Касса и платежи
          option(value="5") Фотоосмотры
