include ../components/input-button.pug

mixin item(title, text, imgName)
  .list-economy__item
    img(src=`./img/economy/${imgName}.png` srcset=`./img/economy/${imgName}@2x.png 2x` loading="lazy")
    h4=title
    p=text

section.economy
  .economy__container.container
    .economy__head.head 
      h2 Экономьте время и бюджет за счёт автоматизации парка
      p Ваш бизнес через 2 недели после внедрения Avirent CRM
    .economy__body
      div(class="list-economy" data-animate-on-scroll)
        +item('Система управления в одном окне', 'Забудьте про 10 не нужных сервисов и приложений. Вы будете контролировать свой бизнес в любом месте и с любого устройства', '1')
        +item('Полная автоматизация бизнес процессов', 'Ничего не придётся делать руками, всё в одном окне. Менеджер спокойно справится с сотнями автомобилями в системе', '2')
        +item('Оптимизация расходов и рост прибыли', 'Функционал сервиса помогает контролировать доходы и расходы. Вы всегда знаете, где физически находятся ваши транспортные средства', '3')
        +item('Ключевые задачи не будут упущены', 'Система сама напомнит о нужных действий: водителю — о необходимости оплатить аренду или приехать на ТО, менеджеру — продлить полис ОСАГО и вызвать машину на осмотр. И многое другое', '4')
      .economy__form
        +input-button('Попробовать бесплатно')
      