include ../components/input-button.pug

mixin item(title, text, imgPath)
  .list-economy__item
    img(src=imgPath)
    h4=title
    p=text

section.economy
  .economy__container.container
    .economy__head.head 
      h2 Экономьте время и бюджет за счёт автоматизации парка
      p Ваш бизнес через 2 недели после внедрения Avirent CRM
    .economy__body
      div(class="list-economy" data-animate-on-scroll)
        +item('Система управления в одном окне', 'Забудьте про 10 не нужных сервисов и приложений. Вы будете контролировать свой бизнес в любом месте и с любого устройства', './img/economy/1.png')
        +item('Полная автоматизация бизнес процессов', 'Ничего не придётся делать руками, всё в одном окне. Менеджер спокойно справится с сотнями автомобилями в системе', './img/economy/2.png')
        +item('Оптимизация расходов и рост прибыли', 'Функционал сервиса помогает контролировать доходы и расходы. Вы всегда знаете, где физически находятся ваши транспортные средства', './img/economy/3.png')
        +item('Ключевые задачи не будут упущены', 'Система сама напомнит о нужных действий: водителю — о необходимости оплатить аренду или приехать на ТО, менеджеру — продлить полис ОСАГО и вызвать машину на осмотр. И многое другое', './img/economy/4.png')
      .economy__form
        +input-button('Попробовать бесплатно')
      