mixin item(title, text, imgPath)
  .list-reasons__item.item-wrapper
    img(src=imgPath)
    h4=title 
    p=text

section.reasons
  .reasons__container.container
    .reasons__head.head 
      h2 5 причин почему нас выбирают и рекомендуют
    .reasons__body 
      div(class="list-reasons" data-animate-on-scroll)
        +item('Помогаем в настройке и обучении', 'Персональный менеджер познакомит вас с возможностями и интерфейсом сервиса', './img/5reasons/1.png')
        +item('Неограниченные роли для сотрудников', 'Добавляйте неограниченное количество сотрудников. У каждого сотрудника свой уровень доступа', './img/5reasons/2.png')
        +item('Гарантии безопасности', 'Все данные строго защищены и недоступны третьим лицам. Персональные данные можно скрыть даже от менеджера и недопустить "утечки" клиентской базы', './img/5reasons/3.png')
        +item('Все в одном окне', 'Контролируйте бизнес в любом месте и с любого устройства. Для этого вам не нужно иметь десятки сервисов', './img/5reasons/4.png')
        +item('Работа 24/7', 'Система сама работает с вашими клиентами и водитель следит за вашим парком в круглосуточном режиме', './img/5reasons/5.png')
      