include ../components/button.pug
include ../components/input.pug

section.price#price
  .price__container.container
    .price__body
      .price__img 
        img(src="./img/price.png" srcset="./img/price@2x.png 2x" alt="Каталог с ценами")
      .price__main
        h2 В прайсе есть полная стоимость на все наши тарифы и гибкие варианты оплаты
        p Скачайте прайс-лист в удобный вам мессенджер
        .mobile 
          img(src="./img/price.png?width=250" srcset="./img/price@2x.png?width=504 2x" alt="Каталог с ценами" loading="lazy")
        .price__form
          .messengers-price
            .messengers-price__item
              input(type="radio" id="mes-wa" name="messengers" checked value="What’s app")
              label(for="mes-wa")
                img(src="./img/messengers/wa.svg", alt="What’s app")
                span What’s app
            .messengers-price__item
              input(type="radio" id="mes-viber" name="messengers" value="Viber")
              label(for="mes-viber")
                img(src="./img/messengers/viber.svg", alt="Viber")
                span Viber
            .messengers-price__item
              input(type="radio" id="mes-tg" name="messengers" value="Telegram")
              label(for="mes-tg")
                img(src="./img/messengers/tg.svg", alt="Telegram")
                span Telegram
          form.price__submit         
            +input('Ваш телефон в WhatsApp', 'tel')(id="input-mes")
            +button('Скачать прайс-лист', 'm', 'submit')
        