include ../components/button.pug
include ../components/input.pug

section.price
  .price__container.container
    .price__body
      .price__img 
        img(src="./img/price.png", alt="Каталог с ценами")
      .price__main
        h2 В прайсе есть полная стоимость на все наши тарифы и гибкие варианты оплаты
        p Скачайте прайс-лист в удобный вам мессенджер
        .mobile 
          img(src="./img/price.png", alt="Каталог с ценами")
        .price__form
          .messengers-price
            .messengers-price__item
              input(type="radio" id="mes-wa" name="messengers" checked)
              label(for="mes-wa")
                img(src="./img/messengers/wa.svg", alt="What’s app")
                span What’s app
            .messengers-price__item
              input(type="radio" id="mes-viber" name="messengers" )
              label(for="mes-viber")
                img(src="./img/messengers/viber.svg", alt="Viber")
                span Viber
            .messengers-price__item
              input(type="radio" id="mes-tg" name="messengers" )
              label(for="mes-tg")
                img(src="./img/messengers/tg.svg", alt="Telegram")
                span Telegram
          .price__submit         
            +input('Ваш телефон в WhatsApp')
            +button('Скачать прайс-лист')
        