include ../components/input-button.pug

section.ceo
  .ceo__container.container
    .ceo__body.item-wrapper
      .ceo__main
        h4 Здравствуйте, <br> меня зовут Андрей Баранов
        p Я руководитель агентства <b>Avirent CRM</b>
        .mobile
          img(src="./img/ceo.png", alt="Руководитель AvirentCRM")
        i “У нас свой автопарк в двух городах. Мы хорошо знаем всю кухню изнутри и мы видим все боли и проблемы автопарка. <br><br> Именно поэтому мы делаем IT-продукт, который закрывает эти боли. Весь наш бизнес работает на AVIRENT. Мы смогли вырасти с трёх автомобилей до 100+ и не увеличили издержки на его содержание, плюс у нас, как работало два менеджера, так и сейчас работают”<br><br><b>Запишитесь на короткую online-консультацию и мы расскажем, как снизить содержание автопарка именно в вашем случае</b>
        .ceo__form
          +input-button('Попробовать бесплатно')
      .ceo__img
        img(src="./img/ceo.png", alt="Руководитель AvirentCRM")




      