section.otzovy#otzovy
  .otzovy__container.container
    .head 
      h2 90% наших клиентов пользуются <br> Avirent CRM на ежедневной основе
    .otzovy__body 
      .otzovy__swiper.swiper-container
        .swiper-wrapper
          .otzovy__swiper-item.swiper-slide
            img(src="./img/otzovy/1.png" srcset="./img/otzovy/1@2x.png 2x" alt="Отзыв клиента Серик")
          .otzovy__swiper-item.swiper-slide
            img(src="./img/otzovy/2.png" srcset="./img/otzovy/2@2x.png 2x" alt="Отзыв клиента Николай")
          .otzovy__swiper-item.swiper-slide
            img(src="./img/otzovy/3.png" srcset="./img/otzovy/3@2x.png 2x" alt="Отзыв клиента Олег")
          .otzovy__swiper-item.swiper-slide
            img(src="./img/otzovy/4.png" srcset="./img/otzovy/4@2x.png 2x" alt="Отзыв клиента Роман")
        .otzovy__nav-prev
        .otzovy__nav-next
      