section.otzovy#otzovy
  .otzovy__container.container
    .head 
      h2 90% наших клиентов пользуются <br> Avirent CRM на ежедневной основе
    .otzovy__body 
      .otzovy__swiper.swiper-container
        .swiper-wrapper
          .otzovy__swiper-item.swiper-slide
            img(src="./img/IMG_0962.png?width=228")
          .otzovy__swiper-item.swiper-slide
            img(src="./img/IMG_0962.png?width=228")
          .otzovy__swiper-item.swiper-slide
            img(src="./img/IMG_0962.png?width=228")
          .otzovy__swiper-item.swiper-slide
            img(src="./img/IMG_0962.png?width=228")
        .otzovy__nav-prev
        .otzovy__nav-next
      