mixin question(title, text)
  .questions__item 
    .questions__title
      h4=title
    p(class="questions__answer" aria-hidden="true")=text
    

section.faq
  .faq__container.container
    .faq__head.head
      h2 Отвечаем на ваши вопросы
    .faq__body
      .questions
        +question("Сколько стоит?", "Стоимость использования сервиса рассчитывается из нескольких факторов: количества ваших машин и периода оплаты. Чтобы выбрать наиболее выгодный для вас тариф – скачайте прайс на нашем сайте или напишите в поддержку, мы online.")
        +question("Могу ли я получить скидку?", "Вы можете протестировать приложение абсолютно бесплатно! Если вам понравится, и вы увидите потенциал, вы можете получить скидку в зависимости от выбранного вами тарифного плана")
        +question("Есть ли у вас обучение, как пользоваться?", "Да, после регистрации за вами закрепляется персональный менеджер, который поможет вам с настройкой и обучением. Вы быстро сможете настроить приложение под себя и пользоваться им полноценно")
        +question("Откуда загружаются штрафы ГИБДД?", "Все штрафы загружаются автоматически из нескольких баз ГИБДД, АМПП, МАДИ и ПЛАТОН. Система определит, кто из водителей был за рулем автомобиля и зафиксирует штраф на его счете, а также сразу вышлет ему ссылку на оплату онлайн.")
        +question("Можно ли поставить напоминание по договору?", "Да, можно. Вы не пропустить не одной договоренности с клиентом. В системе можно установить разнообразные комментарии и напоминания.")
        +question("Зачем мне использовать сервис?", "Комплексная автоматизация бизнеса экономит время и деньги, а следовательно позволяет увеличить вашу прибыль за счет сокращения издержек.")
        +question("Можно ли одновременно работать с нескольких устройств в одном аккаунте?", "Да, у нас нет ограничений на количество аккаунтов и устройств. Добавляйте сколько нужно сотрудников и доступов.")
        +question("Есть ли возможность работать с мобильного телефона или планшета?", "Да, вы можете работать с любого устройства и следить за своим бизнесом из любого места.")
        +question("Работает ли сервис, если нет интернета?", "У сервиса бесперебойная работа. Весь функционал работает без вас, система сама работает с вашими клиентами и следит за вашим парком в круглосуточном режиме.")
        +question("Как оплатить?", "Выбрать выгодный для вас тариф и получить счет на оплату вам помогут наши менеджеры.")
      