mixin question(title, text)
  .questions__item 
    .questions__title
      h4=title
    p(class="questions__answer" aria-hidden="true")=text
    

section.faq
  .faq__container.container
    .faq__head.head
      h2 Отвечаем на ваши вопросы
    .faq__body
      .questions
        +question("Сколько стоит?", "Стоимость использования сервиса рассчитывается из нескольких факторов: кол-во ваших машин, менеджеров, используемый функционал. Чтобы выбрать наиболее выгодный для вас тариф – скачайте прайс на нашем сайте или напишите в поддержку, мы online")
        +question("Могу ли я получить скидку?", "Вы можете протестировать приложение абсолютно бесплатно! Если вам понравится, и вы увидите потенциал, вы можете получить скидку в зависимости от выбранного вами тарифного плана")
        +question("Есть ли у вас обучение, как пользоваться?", "Да, после регистрации за вами закрепляется персональный менеджер, который поможет вам с настройкой и обучением. Вы быстро сможете настроить приложение под себя и пользоваться им полноценно")
        +question("Зачем мне использовать сервис?", "Комплексная автоматизация бизнеса, упрощение процесса управления автопрокатом или таксопарком, экономим время и деньги")
        +question("Работает ли сервис, если нет интернета?", "У сервиса бесперебойная работа. Весь функционал работает без вас, система сама работает с вашими клиентами и водитель следит за вашим парком в круглосуточном режиме")
        +question("Как оплатить?", "Выбрать выгодный для вас тариф и получить ссылку на оплату вы можете получить от нашей тех.поддержки")
      