footer.footer 
  .footer__container.container
    nav.footer__nav.navpanel
      .navpanel__container
        .navpanel__logo
          img(src="./img/logo_white.svg", alt="logo")
          p Система автоматизации <br> автопрокатов и таксопарков
        .navpanel__phone
          .navpanel__phone-top
            img(src="./img/icon_tel.svg")
            a(href="tel:+74951184046") +7 (495) 118-40-46 
          button(type="button" data-open-modal_2) Заказать звонок
        .navpanel__login 
          +button('Войти', 's', 'link', 'https://crm.avirent.ru/company/login', 'white')
          +button('Попробовать бесплатно', 's', 'button')(data-open-modal_1)
    .footer__links 
      a(href="http://support.avirent.com/") Справочное руководство
      a(href="https://drive.google.com/file/d/14W04h36pI1D4PW_IkUWOS6ckUTPdCV9_/view?usp=sharing" target="_blank") Лицензионное соглашение
      a(href="https://drive.google.com/file/d/1uBSQLY69oDu89ycBIkUOig_ljlS-khfV/view?usp=sharing" target="_blank") Политика персональных данных
      a(href="mailto:support@avirent.com") Обратная связь
    .footer__links
      p Сайт разработан: 
        a(href="https://t.me/Larin_mv" target="_blank") студия Максима Ларина 

