footer.footer 
  .footer__container.container
    nav.footer__nav.navpanel
      .navpanel__container
        .navpanel__logo
          img(src="./img/logo.svg", alt="logo")
          p Система автоматизации <br> автопрокатов и таксопарков
        .navpanel__phone
          .navpanel__phone-top
            img(src="./img/icon_tel.svg")
            a(href="tel:+74951184046") +7 (495) 118-40-46 
          button(type="button" data-open-modal_2) Заказать звонок
        .navpanel__login 
          +button('Войти', 's', 'link', 'https://crm.avirent.ru/company/login', 'white')
          +button('Попробовать бесплатно', 's', 'link', 'https://crm.avirent.ru/company/register')
    .footer__links 
      a(href="./policy.pug" target="_blank") Политика конфиденциальности
      p Сайт разработан: 
        a(href="https://t.me/Larin_mv" target="_blank") студия Максима Ларина 