doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="keywords", content="")
    //- link(rel="icon", href="favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="index.css")

    title AVIRENT CRM – Комплексная автоматизация автопарка
  body
    include blocks/01_header/index.pug
    main
      include blocks/02_statistics/index.pug
      include blocks/03_problems/index.pug
      include blocks/04_opportunities/index.pug
      include blocks/05_freetrial/index.pug
      include blocks/06_interface/index.pug
      include blocks/07_help/index.pug
      include blocks/08_economy/index.pug
      include blocks/09_5reasons/index.pug
      include blocks/10_price/index.pug
      include blocks/11_ceo/index.pug
      include blocks/12_otzovy/index.pug
      include blocks/13_faq/index.pug
    include blocks/14_footer/index.pug