doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="keywords", content="")
    //- Favicon start
    link(rel="icon", href="./assets/favicon/favicon.ico", type="image/x-icon")
    link(rel="icon" href="./assets/favicon/32x32.png" size="32x32" type="image/png")
    link(rel="icon" href="./assets/favicon/16x16.png" size="16x16" type="image/png")
    //- Favicon end
    link(rel="stylesheet", href="./js/swiper-bundle.min.css")
    style
      include index.css

    title AVIRENT CRM – Комплексная автоматизация автопарка
  body
    include blocks/01_header.pug
    main
      include blocks/02_statistics.pug
      include blocks/03_problems.pug
      include blocks/04_opportunities.pug
      include blocks/05_freetrial.pug
      include blocks/06_interface.pug
      include blocks/07_help.pug
      include blocks/08_economy.pug
      include blocks/09_5reasons.pug
      include blocks/10_price.pug
      include blocks/11_ceo.pug
      //- include blocks/12_otzovy.pug
      include blocks/13_faq.pug
    include blocks/14_footer.pug
    //- Modal window
    include components/modal.pug
    //- JS
    script(src='./js/index.js' type="module")
    script(src='./js/navbar.js' type="module")
    script(src='./js/modal.js' type="module")
    script(src='./js/swiper-bundle.min.js' type="module")
    script(src='./js/swiper.js' type="module")
    script(src="./js/widget-button.js" async) 